.bg-primary,
.btn-primary,
.btn-soft-primary:hover, 
.btn-soft-primary:focus, 
.btn-soft-primary:active, 
.btn-soft-primary.active, 
.btn-soft-primary.focus,
.btn-outline-primary:hover, 
.btn-outline-primary:focus, 
.btn-outline-primary:active, 
.btn-outline-primary.active, 
.btn-outline-primary.focus, 
.btn-outline-primary:not(:disabled):not(.disabled):active,
.pagination .page-item.active .page-link,
.nav-pills .nav-link.active,
#preloader #status .spinner .double-bounce1, 
#preloader #status .spinner .double-bounce2,
.social-icon li a:hover,
#topnav .navbar-toggle.open span:hover,
.bg-animation-left.crypto-home:after,
.bg-animation-left.task-management-home:after,
.classic-app-image .bg-app-shape:after,
.classic-saas-image .bg-saas-shape:after,
.swiper-slider-hero .swiper-container .swiper-button-prev:hover,
.swiper-slider-hero .swiper-container .swiper-button-next:hover,
.tns-nav button.tns-nav-active,
.ribbon.ribbon-primary span,
.sidebar .widget .tagcloud > a:hover,
.tagcloud>a:hover,
.timeline-page .timeline-item .date-label-left:after, 
.timeline-page .timeline-item .duration-right:after,
#navmenu-nav li.account-menu.active .navbar-link,
#navmenu-nav li.account-menu:hover .navbar-link,
.form-check-input.form-check-input:checked,
.qs-datepicker-container .qs-squares .qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover, 
.qs-datepicker-container .qs-squares .qs-square.qs-current,
.carousel-indicators [data-bs-target],
.carousel-indicators .active,
.tns-controls button[data-controls="prev"]:hover, 
.tns-controls button[data-controls="next"]:hover,
.tiny-timeline:before,
.tiny-timeline .item-box:before, 
.tiny-timeline .item-box:after,
.blog.blog-primary .tag,
.job-box.job-primary .bg,
.job-box.job-primary .btn-soft:hover, 
.job-box.job-primary .btn-soft:focus, 
.job-box.job-primary .btn-soft:active, 
.job-box.job-primary .btn-soft.active, 
.job-box.job-primary .btn-soft.focus,
.features.feature-primary .btn-soft:hover, 
.features.feature-primary .btn-soft:focus, 
.features.feature-primary .btn-soft:active, 
.features.feature-primary .btn-soft.active, 
.features.feature-primary .btn-soft.focus,
.event-schedule.event-primary .btn-soft:hover, 
.event-schedule.event-primary .btn-soft:focus, 
.event-schedule.event-primary .btn-soft:active, 
.event-schedule.event-primary .btn-soft.active, 
.event-schedule.event-primary .btn-soft.focus,
.pricing.pricing-primary .btn,
.work-container.work-primary .btn,
.team.team-primary .btn,
.work-container.work-primary.work-modern .work-icon:hover,
.work-container.work-primary .bg,
.features.feature-primary.feature-full-bg:hover,
.back-to-top,
.nft.nft-primary .btn {
    background-color: #ff5b69 !important;
}

.text-primary,
.bg-soft-primary,
.component-wrapper.sticky-bar li a:hover, 
.component-wrapper.sticky-bar li a:focus,
.btn-soft-primary,
.btn-outline-primary,
.dropdown-primary .dropdown-menu .dropdown-item:hover, 
.dropdown-primary .dropdown-menu .dropdown-item.active, 
.dropdown-primary .dropdown-menu .dropdown-item:active, 
.dropdown-primary .dropdown-menu .dropdown-item.focus, 
.dropdown-primary .dropdown-menu .dropdown-item:focus,
.alert-outline-primary,
.breadcrumb .breadcrumb-item a:hover,
.breadcrumb .breadcrumb-item.active,
#topnav .has-submenu.active .submenu li.active > a,
#topnav .navigation-menu > li:hover > a,
#topnav .navigation-menu > li.active > a,
#topnav .navigation-menu > li > a:hover, 
#topnav .navigation-menu > li > a:active,
#topnav.scroll .navigation-menu > li:hover > a, 
#topnav.scroll .navigation-menu > li.active > a,
#topnav.nav-sticky .navigation-menu.nav-light > li.active > a,
#topnav.nav-sticky .navigation-menu.nav-light > li:hover > a, 
#topnav.nav-sticky .navigation-menu.nav-light > li.active > a,
#topnav .navigation-menu > li .submenu li a:hover,
#topnav .navigation-menu > li:hover > a,
#topnav .navigation-menu > li.active > a,
#topnav .navigation-menu > li > a:hover,
#topnav .navigation-menu > li .submenu li a:hover,
#topnav .navigation-menu > li.has-submenu.open > a,
#topnav .has-submenu.active a,
.explore-feature:hover .icon,
.explore-feature:hover .title,
.switcher-pricing .toggler--is-active,
.sidebar .widget .blog-categories li a:hover,
.sidebar .widget .post-recent .post-recent-content a:hover,
.media-list .media .media-heading:hover,
.job-box .position a:hover,
.job-box .company-name:hover,
.candidate-list .name:hover,
.company-list .name:hover,
.event-schedule.event-primary .date,
.event-schedule.event-primary .content .title:hover,
.event-schedule.event-primary .btn-soft,
.container-filter li.active, .container-filter li:hover,
.shop-list .content .product-name:hover,
.team.team-primary .name:hover,
.accordion .accordion-button:not(.collapsed),
.accordion .accordion-item .accordion-button:before,
.blog.blog-primary .title:hover,
.blog.blog-primary .readmore:hover,
.blog.blog-primary .link,
.job-box.job-primary .position a:hover,
.job-box.job-primary .company-name:hover,
.job-box.job-primary .title:hover,
.job-box.job-primary .readmore:hover,
.job-box.job-primary .icons,
.job-box.job-primary.candidate-list .name:hover, 
.job-box.job-primary.company-list .name:hover,
.job-box.job-primary .bg-soft,
.job-box.job-primary .btn-soft,
.features.feature-primary .btn-soft,
.categories.category-primary .title:hover,
.pricing.pricing-primary.business-rate:hover .title,
.pricing.pricing-primary .name,
.pricing.pricing-primary .icon,
.work-container.work-primary .title:hover,
.work-container.work-primary.work-modern .work-icon,
.work-container.work-primary .link,
.features.feature-primary .read-more,
.features.feature-primary .color,
.features.feature-primary.feature-clean .icons,
.features.feature-primary.feature-clean .title:hover,
.features.feature-primary.feature-full-bg .icon-color,
.features.feature-primary.key-feature .icon,
.features.feature-primary.course-feature .full-img,
.features.feature-primary.explore-feature:hover .icons,
.features.feature-primary.explore-feature:hover .title,
#navmenu-nav li.active a,
.nft.nft-primary .title:hover,
.nft.nft-primary .read-more:hover,
.nft.nft-primary .link,
.nft.nft-primary .author .name:hover,
.nft.nft-primary .bg-soft {
    color: #ff5b69 !important;
}

.btn-primary,
.btn-soft-primary:hover, 
.btn-soft-primary:focus, 
.btn-soft-primary:active, 
.btn-soft-primary.active, 
.btn-soft-primary.focus,
.btn-outline-primary,
.btn-outline-primary:hover, 
.btn-outline-primary:focus, 
.btn-outline-primary:active, 
.btn-outline-primary.active, 
.btn-outline-primary.focus, 
.btn-outline-primary:not(:disabled):not(.disabled):active,
.alert-primary,
.alert-outline-primary,
.pagination .page-item.active .page-link,
.form-check-input.form-check-input:checked,
.form-control:focus,
.form-check-input:focus,
.social-icon li a:hover,
#topnav .has-submenu.active.active .menu-arrow,
#topnav .has-submenu .submenu .has-submenu .submenu .has-submenu:hover .submenu-arrow,
#topnav .has-submenu .submenu .has-submenu:hover >.submenu-arrow,
#topnav.scroll .navigation-menu > li:hover > .menu-arrow, 
#topnav.scroll .navigation-menu > li.active > .menu-arrow,
#topnav.nav-sticky .navigation-menu.nav-light > li:hover > .menu-arrow, 
#topnav.nav-sticky .navigation-menu.nav-light > li.active > .menu-arrow,
#topnav .navigation-menu > li:hover > .menu-arrow,
.swiper-slider-hero .swiper-container .swiper-button-prev:hover,
.swiper-slider-hero .swiper-container .swiper-button-next:hover,
.event-schedule:hover,
.container-filter li.active, .container-filter li:hover,
.blockquote-wrapper .blockquote,
.job-box.job-primary .btn-soft:hover, 
.job-box.job-primary .btn-soft:focus, 
.job-box.job-primary .btn-soft:active, 
.job-box.job-primary .btn-soft.active, 
.job-box.job-primary .btn-soft.focus,
.features.feature-primary .btn-soft:hover, 
.features.feature-primary .btn-soft:focus, 
.features.feature-primary .btn-soft:active, 
.features.feature-primary .btn-soft.active, 
.features.feature-primary .btn-soft.focus,
.event-schedule.event-primary .btn-soft:hover, 
.event-schedule.event-primary .btn-soft:focus, 
.event-schedule.event-primary .btn-soft:active, 
.event-schedule.event-primary .btn-soft.active, 
.event-schedule.event-primary .btn-soft.focus,
.event-schedule.event-primary:hover,
.pricing.pricing-primary.business-rate:hover,
.pricing.pricing-primary.starter-plan,
.pricing.pricing-primary .btn,
.work-container.work-primary .btn,
.team.team-primary .btn,
.blockquote-wrapper .blockquote:after,
.nft.nft-primary .btn {
    border-color: #ff5b69 !important;
}

.bg-soft-primary,
.btn-soft-primary,
.app-feature-shape-right:after,
.app-feature-shape-left:after,
.saas-feature-shape-left:after,
.saas-feature-shape-right:after,
.social-feature-left:after,
.social-feature-right:after,
.event-schedule .date .day,
.job-box.job-primary .bg-soft,
.job-box.job-primary .btn-soft,
.features.feature-primary .btn-soft,
.event-schedule.event-primary .btn-soft,
.nft.nft-primary .bg-soft {
    background-color: rgba(255, 91, 105, 0.05) !important;
}

.bg-soft-primary,
.btn-soft-primary,
.job-box.job-primary .bg-soft,
.job-box.job-primary .btn-soft,
.event-schedule.event-primary .btn-soft,
.nft.nft-primary .bg-soft {
    border: 1px solid rgba(255, 91, 105, 0.05) !important;
}

.app-feature-shape-right:after,
.app-feature-shape-left:after,
.saas-feature-shape-left:after,
.saas-feature-shape-right:after,
.social-feature-left:after,
.social-feature-right:after {
    box-shadow: 0 0 40px rgba(255, 91, 105, 0.05);
}

.event-schedule.event-primary .date .day {
    box-shadow: 0px 0px 2px 0.25px rgba(255, 91, 105, 0.5);
}

.btn-primary,
.btn-soft-primary,
.btn-outline-primary:hover, 
.btn-outline-primary:focus, 
.btn-outline-primary:active, 
.btn-outline-primary.active, 
.btn-outline-primary.focus, 
.btn-outline-primary:not(:disabled):not(.disabled):active,
.job-box.job-primary .btn-soft,
.features.feature-primary .btn-soft,
.pricing.pricing-primary .btn,
.work-container.work-primary .btn,
.team.team-primary .btn,
.event-schedule.event-primary .btn-soft,
.nft.nft-primary .btn {
    box-shadow: 0 3px 5px 0 rgba(255, 91, 105, 0.1);
}

.features.feature-primary .icon,
.features.feature-primary.feature-clean .icons i,
.features.feature-primary:hover .image:before,
.event-schedule.event-primary .date .day {
    background: rgba(255, 91, 105, 0.1);
}

.features.feature-primary .image:before {
    background: linear-gradient(45deg, transparent, rgba(255, 91, 105, 0.1));
}

.alert-primary,
.pagination .page-item .page-link:hover,
::selection {
    background: rgba(255, 91, 105, 0.9);
    border-color: rgba(255, 91, 105, 0.9);
}

.social-icon li a:hover .fea-social {
    fill: #ff5b69;
}

.bg-circle-gradiant {
    background: radial-gradient(circle at 50% 50%, rgba(255, 91, 105, 0.1) 0%, rgba(255, 91, 105, 0.1) 33.333%, rgba(255, 91, 105, 0.2) 33.333%, rgba(255, 91, 105, 0.2) 66.666%, rgba(255, 91, 105, 0.3) 66.666%, rgba(255, 91, 105, 0.3) 99.999%);
}

.bg-gradient-primary {
  background: linear-gradient(to left, #614092 0%, #ff283a 100%);
}

.tns-nav button {
    background: rgba(255, 91, 105, 0.5) !important;
}

.classic-app-image .bg-app-shape:after,
.classic-saas-image .bg-saas-shape:after,
.freelance-hero .bg-shape:after {
    box-shadow: 0 0 40px rgba(255, 91, 105, 0.5);
}

.freelance-hero .bg-shape:after {
    background-color: #ffdbde;
}

.features.feature-primary.key-feature .icon {
    background: linear-gradient(45deg, transparent, rgba(255, 91, 105, 0.15));
}

.background-effect .circles li {
    background: rgba(255, 91, 105, 0.15);
}

.home-wrapper:before {
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 91, 105, 0.3)), to(transparent));
    background: linear-gradient(90deg, rgba(255, 91, 105, 0.3), transparent);
}

.play-icon i {
    -webkit-text-stroke: 2px #ff5b69;
    -webkit-text-fill-color: transparent;
}

.play-icon i:hover {
    -webkit-text-stroke: 2px #ff5b69;
    -webkit-text-fill-color: #ff5b69;
}
a.text-primary:hover, 
a.text-primary:focus {
    color: #ff4252 !important;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.btn-primary.focus,
.pricing.pricing-primary .btn:hover, 
.pricing.pricing-primary .btn:focus, 
.pricing.pricing-primary .btn:active, 
.pricing.pricing-primary .btn.active, 
.pricing.pricing-primary .btn.focus,
.work-container.work-primary .btn:hover, 
.work-container.work-primary .btn:focus, 
.work-container.work-primary .btn:active, 
.work-container.work-primary .btn.active, 
.work-container.work-primary .btn.focus,
.team.team-primary .btn:hover, 
.team.team-primary .btn:focus, 
.team.team-primary .btn:active, 
.team.team-primary .btn.active, 
.team.team-primary .btn.focus,
.nft.nft-primary .btn:hover, 
.nft.nft-primary .btn:focus, 
.nft.nft-primary .btn:active, 
.nft.nft-primary .btn.active, 
.nft.nft-primary .btn.focus {
    background-color: #ff283a !important;
    border-color: #ff283a !important;
}

.ribbon.ribbon-primary span:before {
    border-left-color: #ff283a;
    border-top-color: #ff283a;
}

.ribbon.ribbon-primary span:after {
    border-right-color: #ff283a;
    border-top-color: #ff283a;
}